@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Setando alguns padrões para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    outline: none;
    border: none;
    /* setando para quando algum elemento for ultrapassar algum limite tomar alguma decisao automatica (redimensiona automaticamente) */
    overflow: auto;
}

body {
    background-color: #201E1E;
    color: #f5f5f5;
}

/* Header */

.header {
    color: #ffffff;
    background-color: gray;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.527);
    font-size: larger;
}

.container {
    width: 80%;
    margin: auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    width: 600px;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: #ffffff;
    font-family: monospace;
}

.agora {
    font-weight: bold;
    text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.452);
}

/* Calculadora */

.calculadora {
    /* centralizar */
    margin: 0 auto;
    width: 700px;
    background: #3A3636;
    padding: 20px;
    border-radius: 8px;
}

.titulo {
    font-weight: 600;
}

.div_input {
    margin-top: 16px;
}

.span {
    font-size: 18px;
}

.input {
    width: 100%;
    padding: 4px;
    padding-left: 8px;
    font-size: 16px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #201E1Eaa;
}

.botao {
    float: right;
    height: 40px;
    background-color: #F27324;
    width: 40%;
    margin: 20px 0;
    color: #f5f5f5;
    font-weight: 600;
    font-size: 18px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #201E1Eaa;
    cursor: pointer;
}

.resultados {
    width: 100%;
    background-color: #f5f5f5;
    color: #201E1E;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
}

.valorVermelho {
    font-size: 22px;
    color: #c83241;
}

.valorVerde {
    font-size: 22px;
    color: #28a745;
}

.semNos {
    font-size: 16px;
    width: 49%;
    text-align: center;
    float: left;
}

.comNos {
    font-size: 16px;
    text-align: center;
    width: 49%;
    float: right;
}

.desc_resultado {
    font-size: 16px;
}

.small {
    /* altura linha */
    line-height: 14px;
    text-align: center;
    font-size: 12px;
    /* esconder */
    overflow: hidden;
    font-weight: 300;
}

.aumento {
    width: 100%;
    text-align: center;
    padding-top: 16px;
}

.aumentoDif {
    font-size: 28px;
    color: #F27324;
    font-weight: 800;
}