@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* configurações globais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    outline: none;
    border: none;
    /* setando para quando algum elemento for ultrapassar algum limite tomar alguma decisao automatica (redimensiona automaticamente) */
    overflow: auto;
}

/* HEADER GLOBAL e seus elementos!
 - mudei o nome de algumas divs pois estava dando confilito com outras divs.*/

.header{
    color: #ffffff;
    background-color: gray;
    box-shadow: 0px 5px 20px black;
    height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container_header{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    /* o width tinha que ser 78vh mas a imagem ta fora de escala */
    width: 600px;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: #ffffff;
}

.agora{
    font-weight: bold;
    text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.452);
}

/* BANNER GLOBAL e seus elementos!
- novamente alterações em nomes de divs por conflito
- alterações nos tamanhos para melhor responsividade */

.banner{
    width: 100% ;
    height: 880px;
    background: url(midia/porco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.534);
}

.container_banner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div_container_banner{
    width: 550px;
    margin-left: 10vw;
    text-align: center;
}

.banner h1{
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.781);
}

.btn0{
    margin-top: 5vh;
    margin-bottom: 10px;
    width: 250px;
    height: 70px;
    font-size: larger;
    color: white;
    font-weight: 500;
    background-color: #ff873d;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    transition: 0.5s;
}

.btn0:hover{
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.781);
    transition: 0.5s;
}

.div_container_banner button a{
    color: #ffffff;
    text-decoration: none;
}

/* -------------------------------------------------
          LOGIN.HTML e CADASTRO.HTML   
----------------------------------------------*/

.card{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    height: 100%;
}

.card h2{
    font-size: 40px;
    font-weight: bolder;
    text-shadow: black 3px 3px 5px;
    margin-top: 3%;
}

.form-box{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 40%;
    margin-top: 3%;
    background-color: #cabbaec3;
    font-family: 'Poppins';
    font-size: 16px;
    box-shadow: black 2px 7px 15px;
    border-radius: 10px;
    border: gray 2px solid;
}

.form-box h4{
    color: rgb(113, 113, 113);
    font-size: 3vh;
    margin: 10px;
    margin-left: 16px;
}

.form-box input{
    align-self: center;
    width: 90%;
    height: 5vh;
    border-radius: 5px;
    transition: 0.5s;
    padding-left: 1vw;
}

.form-box input:hover{
    box-shadow: gray 0px 3px 15px;
}

.form-box input:focus{
    border: #ff7300 1px solid;
}

.btns{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn1{
    width: 60%;
    height: 5vh;
    font-size: larger;
    color: white;
    font-weight: 500;
    background-color: #ff7300;
    border-radius: 10px;
    border: 0;
    align-self: center;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

.banner button:hover{
    background-color: rgb(255, 132, 31);
    box-shadow: gray 0px 3px 15px;
    font-weight: 600;
}

.btns p{
    color: rgb(113, 113, 113);
    font-weight: bold;
    font-size: large;
}

.btns a{
    color: #ff7300;
    text-decoration: none;
    font-size: large;
    margin-bottom: 2vh;
}

.btns a:hover{
    font-weight: bolder;
}

/* -----------------------------------------------------------
 TEXTOS DA INDEX.HTML
-----------------------------------------------------------*/

.main{
    width: 100%;
}

.qmsomos{
    display: flex;
    justify-content: space-evenly;
}

.div_qmsomos {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.qmsomos h1{
    margin-top: 0px;
}
.main p{
    max-width: 700px;
}
.pq{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}
.div_pq{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 
----------------------------------------------------
CALCULADORA.HTML ! 
----------------------------------------------------
*/

.calculadora {
    /* centralizar */
    margin: 0 auto;
    width: 700px;
    background: #3A3636;
    padding: 20px;
    border-radius: 8px;
    color: #f5f5f5;
    box-shadow: black 0px 5px 15px;
}

.titulo {
    font-weight: 600;
}

.div_input {
    margin-top: 16px;
}

.span {
    font-size: 18px;
}

.input {
    width: 100%;
    padding: 4px;
    padding-left: 8px;
    font-size: 16px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #201E1Eaa;
}

.banner .botao {
    float: right;
    height: 40px;
    background-color: #F27324;
    width: 40%;
    margin: 20px 0;
    color: #f5f5f5;
    font-weight: 600;
    font-size: 18px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #201E1Eaa;
    cursor: pointer;
    transition: 0.5s;
}

.banner .botao:hover{
    box-shadow: black 0px 5px 15px;
}

.resultados {
    width: 100%;
    background-color: #f5f5f5;
    color: #201E1E;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
}

.valorVermelho {
    font-size: 22px;
    color: #c83241;
}

.valorVerde {
    font-size: 22px;
    color: #28a745;
}

.semNos {
    font-size: 16px;
    width: 49%;
    text-align: center;
    float: left;
}

.comNos {
    font-size: 16px;
    text-align: center;
    width: 49%;
    float: right;
}

.desc_resultado {
    font-size: 16px;
}

.small {
    /* altura linha */
    line-height: 14px;
    text-align: center;
    font-size: 12px;
    /* esconder */
    overflow: hidden;
    font-weight: 300;
}

.aumento {
    width: 100%;
    text-align: center;
    padding-top: 16px;
}

.aumentoDif {
    font-size: 28px;
    color: #F27324;
    font-weight: 800;
}

/* 
----------------------------------------------------
FOOTER GLOBAL ! 
----------------------------------------------------
*/

.footer .container{
    width: 100%;
    height: 15vh;
    background-color: rgb(29, 29, 29);
    color: white;
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
}

.footer p{
    font-size: 12px;
    margin: auto;
}
