@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.header{
    color: #ffffff;
    background-color: gray;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.527);
    font-size: larger;
}

body{
    margin: 0;
    font-family: monospace;
}

.container{
    width: 80%;
    margin: auto;
}

.header .container{
    display: flex;
    justify-content: space-between;
}

.navbar{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    width: 600px;
    align-items: center;
    
}
.header a{
    text-decoration: none;
    color: #ffffff;
}

.banner{
    width: 100% ;
    height: 580px;
    background-image: url(midia/porco.jpg);
    background-size: cover;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.534);
}
.banner .container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.agora{
    font-weight: bold;
    text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.452);
}
.banner h1{
    color: rgb(255, 255, 255);
    font-size: 45px;
    width: 550px;
    margin-left: 150px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.781);
    margin-top: 150px;
}
.banner button{
    width: 250px;
    height: 70px;
    margin-left: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: white;
    font-weight: 500;
    background-color: rgb(255, 115, 0);
    border-radius: 10px;
    border: 0;
}
.banner button:hover{
    background-color: rgb(255, 132, 31);
    font-weight: 600;
}
.main{
    width: 100%;
    margin-top: 150px;
    font-family: 'Poppins';
    
}
.qmsomos{
    display: flex;
    padding-bottom: 5px;
}
.main p{
    max-width: 700px;
}
.pq{
    display: flex;
    text-align: end;
    padding-bottom: 10;
}
.footer{
    width: 100%;
    height: 120px;
    background-color: rgb(29, 29, 29);
    color: white;
    font-family: 'Poppins';
    
}
.footer p{
    font-size: 12px;
    margin: auto;
}
