@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* configurações globais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    outline: none;
    border: none;
    /* setando para quando algum elemento for ultrapassar algum limite tomar alguma decisao automatica (redimensiona automaticamente) */
    overflow: auto;
}

/* HEADER GLOBAL e seus elementos!
 - mudei o nome de algumas divs pois estava dando confilito com outras divs.*/

.header{
    color: #ffffff;
    background-color: #04222d;
    box-shadow: 0px 5px 20px black;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container_header{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.header a {
    text-decoration: none;
    color: #ffffff;
}

.logo_div img{
    width: 5vw;
    height: 5vh;
}

.header h1 a{
    transition: 0.5s;
}

.header h1 a:hover{
    color: #ff552a;
    text-shadow: white 1px 0px 0px, white 0px 1px 0, white -1px 0px 0, white 0px -1px 0, rgb(54, 54, 54) 1px 3px 5px;
}

.header li a{
    transition: 0.5s;
}

.header li a:hover{
    color: #ff552a;
}

.navbar {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    /* o width tinha que ser 78vh mas a imagem ta fora de escala */
    width: 600px;
    align-items: center;
}

.agora a{
    font-weight: bold;
    text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.452);
    color: #ff552a;
}

/* BANNER GLOBAL e seus elementos!
- novamente alterações em nomes de divs por conflito
- alterações nos tamanhos para melhor responsividade */

.banner{
    width: 100% ;
    height: 880px;
    background: url(midia/porco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.534);
}

.container_banner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div_container_banner{
    width: 550px;
    margin-left: 10vw;
    text-align: center;
}

.banner h1{
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.781);
}

.btn0{
    margin-top: 5vh;
    margin-bottom: 10px;
    width: 250px;
    height: 70px;
    font-size: larger;
    color: white;
    font-weight: 600;
    background-color: #ff552a;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    transition: 0.5s;
}

.banner .btn0:hover{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.781);
    transition: 0.5s;
}

.div_container_banner button a{
    color: #ffffff;
    text-decoration: none;
}

/* -------------------------------------------------
          LOGIN.HTML e CADASTRO.HTML   
----------------------------------------------*/

.card{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    height: 100%;
}

.card h2{
    font-size: 40px;
    font-weight: bolder;
    text-shadow: black 3px 3px 5px;
    margin-top: 3%;
}

.form-box{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 3%;
    margin-bottom: 15px;
    background-color: #3A3636;
    font-family: 'Poppins';
    font-size: 16px;
    box-shadow: black 0px 7px 15px;
    border-radius: 10px;
}

.form-box h4{
    color: white;
    font-size: 2.5vh;
    margin: 10px;
    margin-left: 1.6vw;
}

.form-box input{
    align-self: center;
    width: 90%;
    height: 5vh;
    border-radius: 5px;
    transition: 0.5s;
    padding-left: 1vw;
}

.form-box input:hover{
    box-shadow: rgb(0, 0, 0) 0px 3px 15px;
}

.form-box input:focus{
    border: #ff552a 1px solid;
}

.btns{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btns .btn1{
    width: 60%;
    height: 6vh;
    font-size: larger;
    color: white;
    font-weight: 500;
    background-color: #ff552a;
    border-radius: 10px;
    border: 0;
    align-self: center;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

.btns a .btn1{
    height: 6vh;
    font-size: larger;
    color: white;
    font-weight: 500;
    background-color: #ff552a;
    border-radius: 10px;
    border: 0;
    align-self: center;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

.btn1:hover{
    box-shadow: black 0px 3px 15px;
}

.btns p{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: large;
}

.btns a{
    color: #ff552a;
    text-decoration: none;
    font-size: large;
    margin-bottom: 2vh;
}

.btns a:hover{
    font-weight: bolder;
}

/* -----------------------------------------------------------
 TEXTOS DA INDEX.HTML
-----------------------------------------------------------*/

.main{
    width: 100%;
}

.qmsomos{
    display: flex;
    justify-content: space-evenly;
}

.div_qmsomos {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.qmsomos h1{
    margin-top: 0px;
}
.main p{
    max-width: 700px;
}
.pq{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}
.div_pq{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 
----------------------------------------------------
CALCULADORA.HTML ! 
----------------------------------------------------
*/

.calculadora {
    /* centralizar */
    margin: 0 auto;
    width: 40vw;
    background: #3A3636;
    padding: 20px 20px 0 20px;
    border-radius: 8px;
    color: #f5f5f5;
    box-shadow: black 0px 5px 15px;
}

.titulo {
    font-weight: 600;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div_input {
    margin-top: 16px;
    justify-self: start;
    width: 100%;
}

.div_input input:focus{
    border: #ff552a 1px solid;
}

.span {
    font-size: 2.3vh;
}

.input {
    height: 5vh;
    width: 100%;
    padding-left: 1vw;
    font-size: 16px;
    border-radius: 10px;
    transition: 0.5s;
}

.banner .botao {
    height: 5.4vh;
    background-color: #ff552a;
    width: 40%;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    align-self: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 2.4vh;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.banner .botao:hover{
    box-shadow: black 0px 5px 15px;
}

.resultados {
    background-color: #f5f5f5;
    color: #201E1E;
    border-radius: 4px;
    font-size: 2.2vh;
    font-weight: 500;
}

.valorVermelho {
    font-size: 3vh;
    color: #c83241;
}

.valorVerde {
    font-size: 3vh;
    color: #28a745;
}

.semNos {
    font-size: 2.2vh;
    width: 49%;
    text-align: center;
    float: left;
}

.comNos {
    font-size: 2.2vh;
    text-align: center;
    width: 49%;
    float: right;
}

.desc_resultado {
    font-size: 2.2vh;
}

.small {
    /* altura linha */
    line-height: 2vh;
    text-align: center;
    font-size: 1.6vh;
    /* esconder */
    overflow: hidden;
    font-weight: 300;
}

.aumento {
    width: 100%;
    text-align: center;
    padding-top: 2.2vh;
}

.aumentoDif {
    font-size: 3.8vh;
    color: #ff552a;
    font-weight: 800;
}

/* -----------------------------------------------
            CHART 
------------------------------------------------ */

.chartJS{
    margin: 0 auto;
    background: #3A3636;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container_chartJS{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 
----------------------------------------------------
FOOTER GLOBAL ! 
----------------------------------------------------
*/

.footer .container{
    width: 100%;
    height: 15vh;
    background-color: rgb(29, 29, 29);
    color: white;
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
}

.footer p{
    font-size: 12px;
    margin: auto;
}
