@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* configurações globais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    outline: none;
    border: none;
    /* setando para quando algum elemento for ultrapassar algum limite tomar alguma decisao automatica (redimensiona automaticamente) */
    overflow: auto;
}

/* HEADER GLOBAL e seus elementos!
 - mudei o nome de algumas divs pois estava dando confilito com outras divs.*/

.header{
    color: #ffffff;
    background-color:#201E1E;
    border-bottom: #ff552a 1px solid;
    height: 9vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 8;
}

.container_header{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.header a {
    text-decoration: none;
    color: #ffffff;
}

.logo_div img{
    width: 5vw;
    height: 5vh;
}

.header h1 a{
    font-size: 5.3vh;
    transition: 0.5s;
}

.header h1 a:hover{
    color: #ff552a;
    text-shadow: white 1px 0px 0px, white 0px 1px 0, white -1px 0px 0, white 0px -1px 0, rgb(54, 54, 54) 1px 3px 5px;
}

.header li a{
    transition: 0.5s;
}

.header li a:hover{
    color: #ff552a;
}

.navbar {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
    /* o width tinha que ser 78vh mas a imagem ta fora de escala */
    width: 50%;
    align-items: center;
}

.agora a{
    font-weight: bold;
    text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.452);
    color: #ff552a;
}

/* BANNER GLOBAL e seus elementos!
- novamente alterações em nomes de divs por conflito
- alterações nos tamanhos para melhor responsividade */

.banner{
    width: 100% ;
    height: 91vh;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.534);
}

.container_banner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../midia/porco.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.div_container_banner{
    width:50%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); 
    text-align: center;
    padding: 8vw;
}

.banner .container_banner .div_container_banner h1{
    color: rgb(255, 255, 255);
    font-size: 2.2em;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
}

.banner .container_banner .div_container_banner h1 .titulo{
    font-size: 1.6em;
    color: #ff552a;
}

.btn0{
    margin-top: 5vh;
    margin-bottom: 10px;
    width: 250px;
    height: 70px;
    font-size: larger;
    color: white;
    font-weight: 600;
    background-color: #ff552a;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    transition: 0.5s;
}

.banner .btn0:hover{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.781);
    transition: 0.5s;
}

.div_container_banner button a{
    color: #ffffff;
    text-decoration: none;
}

/* -------------------------------------------------
          LOGIN.HTML e CADASTRO.HTML   
----------------------------------------------*/
.container_forms{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #cecece;
}

.card{
    display: flex;
    width: 75%;
    height: 85%;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: black 0 5px 15px;
}

.container_forms .card .banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0.589), rgba(0, 0, 0, 0.589)), url(../midia/porco_banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: none;
}

.container_forms .card .banner h1 a{
    color: white;
    font-size: 7vh;
    margin-top: 1.7vh;
    text-decoration: none;

    text-shadow: black 2px 2px 5px;
    transition: 0.5s;
}

.container_forms .card .banner h1 a:hover{

    color: #ff552a;
text-shadow: white 1px 0px 0px, white 0px 1px 0, white -1px 0px 0, white 0px -1px 0, rgb(54, 54, 54) 1px 3px 5px;
text-decoration: none;
transition: 0.5s;
}



.container_forms .card .banner h2{
    color: white;
    font-size: 4vh;
    margin-bottom: 1.7vh;
    text-shadow: black 2px 2px 5px;
}

.form_box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: 50%;
    height: 100%;
}

.container_forms .card .form_box .titulo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20%;
}

.container_forms .card .form_box .titulo_login{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20%;
}

.form_box .inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 55%;
}

.form_box .inputs_login{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 18%;
}

.form_box h2{
    color: #ff552a;
    font-size: 6vh;
}

.form_box .input{
    width: 65%;
    height: 6vh;
    background-color: #f3f3f3;
    border: #cecece 2px solid;
    font-size: 2.2vh;
    transition: 0s;
    border-radius: 5px;
    padding-left: 3%;
}

.form_box .input::placeholder{
    color: #bfbfbf;
}

.form_box .input:hover{
    border: #909090 2px solid;
    transition: 0.5s;
}

.form_box .input:focus{
    border: #ff552a 2px solid;
}

.form_box .botoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20%;
}

.form_box .botoes_login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20%;
}

.form_box .botoes .botao {
    height: 5.4vh;
    background-color: #ff552a;
    width: 40%;
    align-self: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 2.4vh;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
    margin-bottom: 1vh;
}

.form_box .botoes_login .botao {
    height: 5.4vh;
    background-color: #ff552a;
    width: 40%;
    align-self: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 2.4vh;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
    margin-bottom: 1vh;
}

.form_box .botoes .botao:hover{
    box-shadow: rgb(97, 97, 97) 0px 2px 10px;
    transition: 0.4s;
}

.form_box .botoes_login .botao:hover{
    box-shadow: rgb(97, 97, 97) 0px 2px 10px;
    transition: 0.4s;
}

.form_box .botoes a{
    text-decoration: none;
    font-size: 2.4vh;
    color: #ff552a;
}

.form_box .botoes_login a{
    text-decoration: none;
    font-size: 2.4vh;
    color: #ff552a;
}

.form_box .botoes a:hover{
    text-decoration: underline;
    font-size: 2.4vh;
    color: #ff552a;
}

.form_box .botoes_login a:hover{
    text-decoration: underline;
    font-size: 2.4vh;
    color: #ff552a;
}

.help {
position: fixed;
z-index: 11;
margin-left: 94vw;
border-radius: 17px;
box-shadow: 6px 5px 7px rgba(0, 0, 0, 0.568);
margin-top: 90vh;
background-color: rgba(112, 111, 111, 0.24);
transition: 0.4s;
}

.help:hover {
height: 55px;
background-color: rgba(228, 224, 224, 0.39);
}

.main{
    width: 100%;
}

.main .container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.qmsomos{
    display: flex;
    justify-content: space-evenly;
    height: 50vh;
    width: 100%;
}

.div_qmsomos {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.qmsomos h1{
    margin-top: 0px;
}

.main p{
    max-width: 700px;
}
.pq{
    display: flex;
    justify-content: space-evenly;
    height: 50vh;
    width: 100%;
    padding-bottom: 10px;
}
.div_pq{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 
----------------------------------------------------
CALCULADORA.HTML ! 
----------------------------------------------------
*/

.banner .container_banner .mensagem_calculadora{
    text-align: center;
    align-self: center;
    width: 100%;
    height: 20%;
    color: rgb(255, 255, 255);
    font-size: 1.4em;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
    background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
    padding: 2vh 10vw 0 10vw;
}

.calculadora {
    align-self: center;
    justify-content: center;
    width: 40vw;
    height: 80%;
    background: #3A3636;
    padding: 20px 20px 0 20px;
    border-radius: 8px;
    color: #f5f5f5;
    box-shadow: black 0px 5px 15px;
    margin: 2vh 0 2vh 0;
}

.titulo {
    font-weight: 600;
    font-size: 1.8em;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calculadora .div_input {
    margin-top: 2vh;
    justify-self: start;
    width: 100%;
}

.calculadora .div_input input:focus{
    border: #ff552a 1px solid;
}

.span {
    font-size: 2.6vh;
}

.calculadora .input {
    height: 5vh;
    width: 100%;
    padding-left: 1vw;
    font-size: 2.6vh;
    border-radius: 5px;
    transition: 0.5s;
}

.calculadora .botao{
    height: 8vh;
    width: 30%;
    font-size: 2.6vh;
    border-radius: 5px;
    transition: 0.5s;
    color: white;
    background-color: #ff552a;
    margin-top: 4vh;
}

.calculadora .botao:hover{
    cursor: pointer;
    box-shadow: rgb(0, 0, 0) 0 3px 5px;
}

.resultados {
    background-color: #f5f5f5;
    color: #201E1E;
    border-radius: 4px;
    font-size: 2.2vh;
    font-weight: 500;
    margin-bottom: 2vh;
}

.valorVermelho {
    font-size: 3vh;
    color: #c83241;
}

.valorVerde {
    font-size: 3vh;
    color: #28a745;
}

.semNos {
    font-size: 2.2vh;
    width: 49%;
    text-align: center;
    float: left;
}

.comNos {
    font-size: 2.2vh;
    text-align: center;
    width: 49%;
    float: right;
}

.desc_resultado {
    font-size: 2.2vh;
}

.small {
    /* altura linha */
    line-height: 2vh;
    text-align: center;
    font-size: 1.6vh;
    /* esconder */
    overflow: hidden;
    font-weight: 300;
}

.aumento {
    width: 100%;
    text-align: center;
    padding-top: 2.2vh;
}

.aumentoDif {
    font-size: 3.8vh;
    color: #ff552a;
    font-weight: 800;
}

.textos_calculadora{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8vw;
}

.explicacao1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
    width: 80%;
}

.explicacao2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
    width: 80%;
}

.explicacao1 img{
    margin-right: 2vw;
}

.explicacao2 img{
    margin-left: 2vw;
}

/* -----------------------------------------------
            CHART 
------------------------------------------------ */

.container_dashboard{
    display: flex;
    width: 100%;
    height: 91vh;
    justify-content: space-evenly;
}

.container_dashboard .menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    height: 100%;
    box-shadow: black 3px 0 10px;
    color: black;
    text-align: center;
    background-color: #ff552a;
    position: relative;
    z-index: 2;
}

.container_dashboard .menu .titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container_dashboard .menu .titulo h2{
    color: white;
    font-size: 3vw;
}

.container_dashboard .menu .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container_dashboard .menu .content h3{
    color: white;
    font-size: 2vw;
}

.container_dashboard .menu .botoes span{
    color: #201E1E;
    font-size: 2.5vw;
}

.container_dashboard .menu .botoes{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
}

.container_dashboard .menu .botoes button{
    color: #ff552a;
    width: 50%;
    height: 20%;
}

.container_dashboard .menu .botoes button:hover{
    color: white;
    border: white 1px solid;
    background-color: #ff552a;
    box-shadow: black 0 2px 5px;
}

.container_dashboard .dashboard{
    width: 70%;
    background-color: #ffffff;
    padding: 4vh 4vw 4vh 4vw;
    height: 100%;
}

.chartJS{
    margin: 0 auto;
    background: #3A3636;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container_chartJS{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 
----------------------------------------------------
FOOTER GLOBAL ! 
----------------------------------------------------
*/

.footer{
    width: 100%;
    height: 15vh;
    background-color: rgb(29, 29, 29);
    color: white;
    font-size: small;
    font-family: 'Poppins';
    display: flex;
    align-items: center;
    justify-content: row;
    justify-content: space-around;
    list-style: circle;
    position: relative;
    z-index: 8;
}
.footer a{
    text-decoration: none;
    color: white;
}
.res{
    color: #bfbfbf;
}

